.blockimglist{ padding:10px 0;}
.blockimglist li{ width: 20%; float: left;list-style-type: none; padding: 0; margin: 0; }
.blockimglist li > div{  background: #fafafa; border:solid 1px #ccc; margin:0px 5px 10px 5px; text-align:left;}
.blockimglist li p.img{ padding: 0; margin: 0; line-height: 150px; text-align: center;    vertical-align: middle;margin-bottom:10px; border-bottom: solid 1px #ccc; position: relative; width: 100%; text-align: center; background: #fff; height: 150px;  }
.blockimglist li p.img img{ max-height: 100%; max-width: 100%; display: inline-block; margin:auto; }
.blockimglist li p.img a{ opacity: .7;line-height: 20px; margin: -0px 0 0 -20px; position: absolute; left: 50%; top: 50px; background: #000; color: #fff; border-radius: 3px; padding: 3px 10px; font-size: 12px;cursor: pointer; }
.blockimglist li p.img canvas{max-height: 100%; max-width: 100%; margin:auto;}
.blockimglist li p.img span{ position:absolute; left:0; top:0; width:100%; height:100%; color: #fff;background: rgba(0,0,0,0.1);display: block; text-shadow: 1px 1px 0px #555;}
.blockimglist li p.img a:hover{ background: #4da1da; opacity: 1; }
.blockimglist li p.img div > *{ opacity:0;}
.blockimglist li > div > .text,.blockimglist li > div > input,.blockimglist li > div > div.text{ line-height: 22px; display: block; margin:auto; background: #fff; width: 90%; margin-bottom:10px; font-size: 12px; border: #ccc 1px solid;}
.blockimglist li > div > div.text img{ max-width: 100%; }
.blockimglist li > div > div.divupimg{ width: 90%;    margin: auto;}
.blockimglist li > div > div.divupimg *{float: left; font-size:12px;height:30px;line-height:30px; color:#555; }
.blockimglist li > div > div.divupimg input{background:#fff; border:solid 1px #ccc; width:100%;border: solid 1px #ccc;position: relative;left: -1px;    margin-bottom: 10px;text-indent: .5em;}
.blockimglist li label{color:#555; display: block; padding-bottom: 5px;width: 90%;margin: auto;font-size: 14px;}
.blockimglist li label input[type="checkbox"]{-webkit-appearance: checkbox;}
.blockimglist li .file{position: absolute; left: 0; top: 0; opacity: 0; width: 100%; height: 100%;  }
.blockBottom{ position: fixed; bottom: 0px; left: 0px; width: 100%; z-index: 9999; background: #fff; box-shadow: 0px -2px 3px #ccc; padding: 10px 0; text-align: center; }
.blockBottom a{ display: inline-block; background: #4da1da; color: #fff; font-size: 12px; margin: 0px 5px; padding: 5px 20px; cursor:pointer; }
.blockBottom span{ color: #ff4e00; }
.block_t,.block_r,.block_b,.block_l,.block_main{width:1px;height:1px;overflow: hidden; position:absolute; z-index:890; left:0; top:0;}
.block_t,.block_b{background:url(data:image/gif;base64,R0lGODlhBgABAKEAAP///wAAADY2Nv///yH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQACgD/ACwAAAAABgABAAACAxQuUgAh+QQBCgADACwAAAAABgABAAACA5SAUgAh+QQBCgADACwAAAAABgABAAACA5SBBQAh+QQBCgADACwAAAAABgABAAACA4QOUAAh+QQBCgADACwAAAAABgABAAACAwSEUAAh+QQBCgADACwAAAAABgABAAACA4SFBQA7);}
.block_l,.block_r{background:url(data:image/gif;base64,R0lGODlhAQAGAKEAAP///wAAADY2Nv///yH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQACgD/ACwAAAAAAQAGAAACAxQuUgAh+QQBCgADACwAAAAAAQAGAAACA5SAUgAh+QQBCgADACwAAAAAAQAGAAACA5SBBQAh+QQBCgADACwAAAAAAQAGAAACA4QOUAAh+QQBCgADACwAAAAAAQAGAAACAwSEUAAh+QQBCgADACwAAAAAAQAGAAACA4SFBQA7);}
.block_main{background: rgba(0,0,0,.5); text-align: center; color: #fff;}
*[contentEditable="true"]{ background:#fff;}

.Blickcookroom a{
	margin-left: 2px; display: none; padding: 0px 5px; width: 50px; height: 25px; line-height: 25px; position: relative; top: -25px; right: -1px; text-align: center; color: rgb(255, 255, 255); background: rgb(77, 161, 218);
}
.Blickcookroom a:hover{ 
	background: #ff4e00;
}

.Blickcookroom {position: absolute; z-index:900;background:rgba(0,0,0,0.02);text-align: center; font-size:12px;}


.ve-popup-bg{position: fixed; left: 0; top: 0; z-index: 200; width: 100%; height: 100%;}
.ve-popup-main{
	position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 90000; text-align: center; display: block; font-size: 12px; opacity: 0;
	
}
.ve-popup-main.ve-show{ opacity: 1;}

.ve-popup-main .ve-msg,.ve-popup-main .ve-load{ z-index: 600; box-shadow: 1px 1px 3px rgba(0,0,0,.3); background: rgba(0,0,0,0.8); display: inline-block; margin:0; position: fixed; top:50%; left: 50%; color: #fff; border-radius: 3px; padding: 5px 20px; }
.ve-popup-main .ve-load{ background:url(popup/loading-0.gif) center center no-repeat; width: 60px; height: 24px; padding: 0; box-shadow: none; margin-top: -12px; }
.ve-open{ position: fixed; top: 50%; background: #fff; left: 50%; z-index: 600;
		background-color: #fff;
    -webkit-background-clip: content;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}}
.ve-open .ve-title{ text-align: left; position: relative; z-index: 0;
	padding: 0 80px 0 20px;  height: 42px; line-height: 42px;border-bottom: 1px solid #eee; font-size: 14px;
  color: #333; overflow: hidden; background-color: #F8F8F8; border-radius: 2px 2px 0 0; 
}
.ve-open .ve-title .ve-close{background:url(popup/icon.png) 1px -40px;position: absolute; width: 16px; height: 16px; right: 10px; top: 13px; cursor: pointer;
    font-size: 12px; opacity: .8;}
.ve-open .ve-title .ve-close:hover{ opacity: 1;}
.ve-open .ve-btn{text-align: right;padding: 10px 15px 12px;pointer-events: auto;user-select: none;-webkit-user-select: none;border-top: 1px solid #eee;}
.ve-open .ve-btn a{display: inline-block; background: #8d8d8d; color: #fff; font-size: 12px; margin: 0px 5px; padding: 9px 20px; cursor:pointer; }
.ve-open .ve-btn a:hover{ background: #555;}
.ve-open .ve-btn a.ve-btn-0{ background: #4da1da; }
.ve-open .ve-btn a.ve-btn-0:hover{background: #ff4e00;}
.ve-open .ve-center{ overflow:hidden; overflow-y: auto;}